<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<div *ngFor="let post of posts" [title]="post.title.rendered">
    
        <ion-list>
          <ion-item>
            <p [innerHTML]="post.content.rendered"></p>
          </ion-item>
        </ion-list>
    
      </div>-->

      <p>Hola </p>
      <ion-list>
        <button ion-item *ngFor= "let nota of notas" (click)="irDetalle(nota.id)">
          {{nota.title}}
        </button>
      </ion-list>
      <div padding>
        <button ion-button block (click)="crearNota()">Crear Nota</button>
      </div>
      <div padding>
        <button ion-button block (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
</ion-content>
